.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-image: url('');
  background-color: rgb(162, 160, 157);
  background-position: center;
  background-size: cover;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.mi-clase-de-imagen{
  border-radius: 10px;
  width: 15%; 
  height: 15%; 
  margin-left: -3cm; 
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container {
  margin-right: auto;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-container li {
  margin: 0 10px;
  list-style: none;
}

.nav-container li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.select-language {
  appearance: none;
  background: transparent;
  border-style: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

.select-language option {
  background: black;
}

.cart-widget {
  margin-left: auto;
}



